.cards {
max-width: 880px;
margin: 0 auto;
padding-top: 47.25px;

}

@media screen and (max-width: 320px) {
    .cards {
        padding-top: 36px;

    }
}



.cards__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    justify-content: center;
    column-gap: 17px;
    row-gap: 20px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

@media screen and (max-width: 320px) {
    .cards__list {
        padding-left: 19px;
        padding-right: 19px;
        margin: auto 0;

    }
}



